@model FE.Models.DoNgot

<div class="card">
    <div class="card-header">
        <h3>Thêm Độ Ngọt</h3>
    </div>
    <div class="card-body">
        <form asp-action="DoNgotCreate" method="post">
            <div class="form-group">
                <label asp-for="Muc_Do"></label>
                <input asp-for="Muc_Do" class="form-control" />
                <span asp-validation-for="Muc_Do" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghi_Chu"></label>
                <input asp-for="Ghi_Chu" class="form-control" />
                <span asp-validation-for="Ghi_Chu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trang_Thai"></label>
                <input asp-for="Trang_Thai" type="checkbox" />
            </div>
            <button type="submit" class="btn btn-primary">Thêm</button>
            <a href="/ProductDetails/DoNgotIndex" class="btn btn-secondary">Quay lại</a>
        </form>
    </div>
</div>